@import url(reset.css);
/* Підключення вручну через fonts Itim eng */
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@1,100&display=swap');
/* Підключення через утиліту  Sofia Sans Extra Condensed eng+ru*/
@import url(https://fonts.googleapis.com/css?family=Sofia+Sans+Extra+Condensed:500italic,700,900italic&display=swap);
/* Підключення вручну   eng+ru*/
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}


body {
   font-family: "Sofia Sans Extra Condensed", "Itim", sans-serif;
   font-size: 24px;
   font-weight: 500;
   color: rgb(33, 68, 17);
   padding: 0px 30px;
}

img {
   max-width: 70%;
}

.img {
   text-align: center;
   margin-top: 20px;
}

.title {
   font-family: "Itim", "Playfair Display";
   text-align: center;
   font-style: italic;
   font-size: 40px;
   color: rgb(60, 129, 81);
}


.text {
   text-align: justify;
   line-height: 0.9;
   text-indent: 24px;
   white-space: normal;
}

#model {
   text-transform: capitalize;
   color: rgb(50, 97, 37);
   text-shadow: 5px 5px 3px rgb(24, 155, 100), -1px -1px 2px rgb(55, 230, 69);
}

#model + p {
   word-spacing: 30px;
   white-space: nowrap;
}

.second-title {
   font-family: "Bitter", sans-serif;
   text-decoration: underline;
   color: rgb(16, 20, 16);
   text-align: center;
   letter-spacing: 8px;
   margin: 10px;
}
